{#
  MCC Event Card Component
  Displays an upcoming event with date badge, title, and day/time details.
#}
<div{{ attributes.addClass('mcc-event-card') }}>
  <div class="mcc-event-card__date">
    <span class="mcc-event-card__month">{{ date_month }}</span>
    <span class="mcc-event-card__day">{{ date_day }}</span>
  </div>
  <div class="mcc-event-card__details">
    <h3 class="mcc-event-card__title">
      {% if url %}
        <a href="{{ url }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h3>
    {% if time_info %}
      <p class="mcc-event-card__time">{{ time_info }}</p>
    {% endif %}
  </div>
</div>
